<!-- LOGO -->
<div class="logo">
  <a data-href="index.html">
    <img data-src="images/discover-cambodia.svg" alt="Discover Cambodia logo" />
  </a>
</div>
<!-- SEARCH -->
<!-- <form class="search-form">
  <input class="search-input" type="text" placeholder="Search products..." />
  <button type="submit">🔍</button>
</form> -->

<!-- CART -->
<!-- <nav class="account-nav" aria-label="Account">
  <a href="/register/index.html">Sign Up</a>
  <a href="/wishlist/index.html">Wish List</a>
</nav> -->

<div class="liked-heart">
  <a data-href="favorites/index.html">
    <svg class="heart-svg" width="48" height="48" viewBox="2 2 20 20">
      <path class="heart-path" d="M12 21C12 21 3 13.5 3 8a4.5 4.5 0 0 1 9-0.9A4.5 4.5 0 0 1 21 8c0 5.5-9 13-9 13z" />
    </svg>
    <span class="likes-count">0</span>
  </a>
</div>