<!-- LOGO -->
<div class="logo">
  <a href="/src/index.html">
    <img src="/src/images/discover-cambodia.svg" alt="discover cambodia logo logo" />
    </a>
</div>
<!-- SEARCH -->
<!-- <form class="search-form">
  <input class="search-input" type="text" placeholder="Search products..." />
  <button type="submit">🔍</button>
</form> -->

<!-- CART -->
<!-- <nav class="account-nav" aria-label="Account">
  <a href="/register/index.html">Sign Up</a>
  <a href="/wishlist/index.html">Wish List</a>
</nav> -->

<div class="cart">
  <a href="/cart/index.html">
    <svg class="heart-svg" width="48" height="48" viewBox="0 0 24 24">
          <path class="heart-path" d="M12 21C12 21 3 13.5 3 8a4.5 4.5 0 0 1 9-0.9A4.5 4.5 0 0 1 21 8c0 5.5-9 13-9 13z"/>
        </svg>
    <!-- kriston: <span> below created to contain the favorites superscript number -->
    <span class="cart-count">0</span>
  </a>
</div>